language = "html"
run = "(./caddy file-server --root site --listen :8080 || wget 'https://caddyserver.com/api/download?os=linux&arch=amd64&idempotency=20057402370989' && mv 'download?os=linux&arch=amd64&idempotency=20057402370989' ./caddy && chmod +x ./caddy && ./caddy file-server --root site --listen :8080)"