
      .footer{
	  position: fixed;
	  text-align: center;
	  bottom: 15px;
	  width: 100%;
      }
      
      .aligncenter{
	  text-align: center;
      }
      
      body {
        background-color:black;
      }
      
      img:hover {
	  /* Start the shake animation and make the animation last for 0.5 seconds */
	  animation: shake 0.05s;

	  /* When the animation is finished, start again */
	  animation-iteration-count: infinite;
      }

      @keyframes shake {
	  0% { transform: translate(1px, 1px) rotate(0deg); }
	  10% { transform: translate(-1px, -2px) rotate(-25deg); }
	  20% { transform: translate(-3px, 0px) rotate(25deg); }
	  30% { transform: translate(3px, 2px) rotate(0deg); }
	  40% { transform: translate(1px, -1px) rotate(25deg); }
	  50% { transform: translate(-1px, 2px) rotate(-25deg); }
	  60% { transform: translate(-3px, 1px) rotate(0deg); }
	  70% { transform: translate(3px, 1px) rotate(-25deg); }
	  80% { transform: translate(-1px, -1px) rotate(25deg); }
	  90% { transform: translate(1px, 2px) rotate(0deg); }
	  100% { transform: translate(1px, -2px) rotate(-25deg); }
      }
      